### Composer ###
composer.phar
/vendor/
composer.lock

### OpenAPI metadata ###
.openapi-generator/
.openapi-generator-ignore

### IDEs ###
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
*.launch
.buildpath
.project
.idea/*
out/
.idea_modules/
.php_cs.cache
