<?php
/**
 * This file is part of the Swiftype App Search PHP Client package.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

namespace {{package}};

/**
 * Implementation of the {{className}} endpoint.
 *
 * @package {{package}}
 * @author  Aurélien FOUCRET <aurelien.foucret@elastic.co>
 */
class {{classname}} extends AbstractEndpoint
{
  {{#operations}}
  {{#operation}}
    /**
     * @var string
     */
    protected $method = '{{httpMethod}}';

    /**
     * @var string
     */
    protected $uri = '{{path}}';

    protected $routeParams    = [{{#pathParams}}'{{baseName}}'{{#hasMore}}, {{/hasMore}}{{/pathParams}}];

    protected $paramWhitelist = [{{#queryParams}}'{{baseName}}'{{#hasMore}}, {{/hasMore}}{{/queryParams}}];
  {{/operation}}
  {{/operations}}
}
