## Getting started 🐣

Using this client assumes that you have already an instance of Elastic App Search up and running.



You can find more information about Elastic App Search at : https://www.elastic.co/app-search.

You can install the client in your project by using composer:

```bash
composer require elastic/app-search
```

### Versioning

 This client is versioned and released alongside App Search.

 To guarantee compatibility, use the most recent version of this library within the major version of the corresponding App Search implementation.

 For example, for App Search `7.3`, use `7.3` of this library or above, but not `8.0`.

 If you are using the [SaaS version available on swiftype.com](https://app.swiftype.com/as) of App Search, you should use the version 7.5.x of the client.
