## Getting started 🐣

Using this client assumes that you have already created an App Search account on https://swiftype.com/ or you have a [self managed version](https://swiftype.com/documentation/app-search/self-managed/overview) of App Search available.

You can install the client in your project by using composer:

```bash
composer require swiftype/swiftype-app-search-php
```
