### Maven ###
target/

### OpenAPI metadata ###
.openapi-generator/

### IDEs ###
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
*.launch
.buildpath
.project
.idea/*
out/
.idea_modules/
.classpath
